body {
	background-image: url(../img/mj.jpg);
	background-size: cover;
}
.login h1 a {
	background-image: url(../img/logo.jpg);
	margin: 0;
	width: 100%; 
	background-size: 120px;
	height: 120px;
}

.login label{
	color: black;

}

.login #backtoblog a, .login #nav a{
	color: #ffffff;
}

.login #backtoblog a,
 .login #blacktoblog a:hover,
.login #nav a,
.login #nav a:nover{
	color: width;
}

.login #backtoblog,
.login #nav{
	text-align: center;
	font-size: 16px;
}
.login .button-primary,
.login .button-primary:active{
	background-color: #dda94f;
	border: none;
	text-shadow: none; 
	box-shadow: none;
	padding: 10px 30px!important;
	height: auto!important;
	width: 100%;
	margin-top: 20px;

}

.login .button-primary:hover{
	background-color: blue;	
}

.login form {
	-webkit-box-shadow: -7px 4px 129px -23px rgba(21,255,0,1);
	-moz-box-shadow: -7px 4px 129px -23px rgba(21,255,0,1);
	box-shadow: -7px 4px 129px -23px rgba(21,255,0,1);
}